@import "tailwindcss";

:root {
  --background: #3a5fb5;
  --background2: #65b0fe;
  --background3: #b0d5f2;
  --button: #ce2218;
  --Yellow1: #f2b02b;
  --Yellow2: #ffcf53;
  --Yellow3: #ffefb7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}